.main-header{
	height: 65px;
}
.logo{
	text-align: center;
}
.logo img{
	width: 90px;
}
.main-header .row{
	display:inline;
}
.main-header .row ul{
	margin: 10px 0 0 0;
}
.mobile-header{
	min-height: 80px;
}
.mobile-header .navbar-header{
	height: 100%;
}
.mobile-header .navbar-toggle{
	margin-top: 20px;
	margin-bottom: 20px;
}
.mobile-header a img {
	width: 130px;
}
.menu-header .header-slide{
	position: relative;
}
.menu-header .header-slide .container{
	height: auto;
	margin: 0 auto;
	top: 60%;
	position: absolute;
	right: 0;
	left: 0;
}
.search-form{
	background: rgba(255, 255, 255, 0.7);
}
.search-form .country, .search-form .category{
	padding:0;
	border: 1px solid #ffffff;
}
.search-form .search-title{
	padding: 0;
}
.search-form h2{
	color: #41BD8E;
	margin: 0;
	margin-left: 10px;
	font-size: 28px;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(100, 89, 89, 0.71);
}
.search-form .country button, .search-form .category button{
	width: 100%;
	border: 0;
	border-radius: 0;
	text-shadow: none;
}
.search-form .country ul, .search-form .category ul{
	width: 100%;
	padding: 10px;
	height: 225px;
	overflow-y: scroll;
}
.search-form .country ul li, .search-form .category ul li{
	padding: 5px;
}
.search-form .country ul li:hover, .search-form .category ul li:hover{
	color: white;
	background: #41BD8E;
	cursor: pointer;
}
.search-form .dropdown ul .disabled{
	font-style: italic;
	font-size: 14px;
	color: #ABABAB;
	padding-left: 14px;
	border-bottom: 1px solid;
	background: none;
}
.search-form .dropdown ul li.disabled:hover{
	background: #ffffff;
	color: #ABABAB;
	border-bottom: 1px solid;
	cursor: default;
}
/* Scrollbar */
.search-form .dropdown ul::-webkit-scrollbar {
    width: 10px;
} 
/* Handle */
.search-form .dropdown ul::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(178,178,178,0.5); 
}
.search-form .dropdown ul::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}
.nav-category{
	z-index: 1000;
	padding: 0;
}
.nav-category .navbar-collapse{
	overflow: hidden;
}
.nav-category .navbar .divider{
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #e5e5e5;
}
.nav-category .navbar .search button{
	width: 100%;
	margin: 0 0 10px 0;
	background: #288A5D;
	color: white;
	border: none;
	border-radius: 0;
	text-shadow: none;
}
.nav-category .dropdown ul{
	height: 225px;
	overflow-y: scroll;
}
/* Scrollbar */
.nav-category .dropdown ul::-webkit-scrollbar {
    width: 10px;
} 
/* Handle */
.nav-category .dropdown ul::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(178,178,178,0.5); 
}
.nav-category .dropdown ul::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}
.nav-category .dropdown ul li.disabled{
	font-style: italic;
	font-size: 14px;
	color: #ABABAB;
	border-bottom: 1px solid;
	background: none;
}
.nav-category .dropdown ul li.disabled:hover{
	background: #ffffff;
	color: #ABABAB;
	border-bottom: 1px solid;
	cursor: default;
}
.nav-category .navbar .search .srch-click{
	background: #28708A;
}
.nav-category .navbar .nav-ctry li, .nav-category .navbar .nav-cat li{
	padding: 5px;
}
.nav-category .navbar .nav-ctry li:hover, .nav-category .navbar .nav-cat li:hover{
	color: white;
	background: #ACACAD;
	cursor: pointer;
}
.nav-category .navbar{
	margin: 0;
	border-radius: 0;
	border: none;
}
.nav-category .navbar li{
	text-align:center;
}
.menu-header .container{
	height: 100%;
}
.menu-header .row{
	display:inline;
}
.latest{
	margin: 40px 0;
}
.latest-group, .article-group{
	padding: 10px;
	min-height: 115px;
	border-radius: 10px;
	background: #FFFFFF;
	margin-bottom: 20px;
	position: relative;
}
.latest-group:hover{
	cursor: pointer;
}
.latest-group:nth-child(even), .article-group:nth-child(even){
	background: #DFDFDF;
}
.latest-group .count-cat, .article-group .count-cat{
	position: absolute;
	right: 10px;
	top: -12px;
}
.latest-group img, .article-group img{
	width: 100%;
}
.latest-group .count-cat a, .article-group .count-cat a{
	color: #ffffff;
}
.latest-group p, .article-group p{
	text-align: justify;
	font-size: 12px;
}
.latest-group .count-cat .country, .article-group .count-cat .country{
	background: #288A2E;
}
.latest-group .count-cat .category, .article-group .count-cat .category{
	background: #C26A2B;
}
.latest-group .user-detail, .article-results .user-detail{
	text-align: center;
}
.head-search .input-group-btn .country{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border: 1px solid #ccc;
	border-right: 0;
	height: 34px;
}
.head-search .count,.head-search .cat, .head-search .search-btn{
	padding: 0;
}
.head-search .count,.head-search .cat{
	border: 1px solid #ccc;
}
.head-search .count{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	overflow: hidden;
	border-right: 0;
}
.head-search .cat{
	border-right: 0;
}
.head-search .count .country, .head-search .cat .category, .head-search .search-btn input{
	border-radius: 0;
}
.head-search .search-btn input{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 100%;
}
.head-search select, .head-search input{
	width: 100%;
}
.right{
	float: right;
}
.left{
	float:left;
}
.clear{
	clear: both;
}
.reglog-wrapper{
	margin: 40px 0;
}
.log-form, .reg-form{
	width: 275px;
	margin: 0 auto;
}
.social-login img{
	width: 50%;
}
.social-login .facebook,.social-login .twitter, .social-login .google, .social-login .yahoo{
	padding: 20px;
	text-align: center;
}
.foo-country p, .foo-category p{
	font-size: 12px;
}
.foo-country ul{
	padding: 0;
	list-style: none;
}
.foo-country .col-md-2{
	padding: 0;
}
/** Article Menu **/
.article-details{
	margin: 30px 0;
}
.article-menu{
	background: rgb(218, 218, 218);
	padding: 30px 20px;
}
.article-details .art-default-img img{
	height: 145px;
}
.article-details .art-title-desc textarea{
	height: 95px;
}
.article .details h2{
	margin: 0;
}
.article .details p{
	font-size: 14px;
}
.article .details .count-cat{
	position: absolute;
	right: 50px;
	top: -9px;
}
.article .details .count-cat .country{
	background: #288A2E;
}
.article .advertisement img{
	width: 100%;
	border: 2px solid;
}
.article .user{
	height: 50px;
}
.article .right-bar .user, .article .right-bar .advertisement, .article .right-bar .rank-article, .article .right-bar .rank-country{
	margin: 30px 0;
}
.article .details .count-cat .category{
	background: #C26A2B;
}
.article .details .count-cat .country a, .article .details .count-cat .category a{
	color: #ffffff;
}
.article .rank-article ul, .article .rank-country ul{
	padding: 0;
}
.article .rank-article ul li, .article .rank-country ul li{
	list-style: none;
}
.article{
	margin-bottom: 40px;
}
.article .details .extra-details{
	border: 2px solid #E5E5E5;
	min-height: 730px;
	border-radius: 10px;
	padding: 20px;
}
.article .rank-article img, .article .rank-country img{
	width: 70px;
	margin: 10px 0;
}
.article .article-view{
	padding: 20px;
	background: rgba(58, 187, 143, 0.57);
	border-radius: 10px;
}
.article .pages{
	text-align: center;
}
.article .ex-advertisement{
	text-align: center;
}
.article .ex-advertisement img{
	width: 35%;
	margin: 0 20px;
	border: 2px solid;
}
.article .art-image img{
	width: 100%;
}
.article .social .fave a{
	color: #C83A3A;
}
.article .social .views .count{
	font-size: 20px;
}
.article .subheading{
	font-size: 15px;
}
.article .vid-wrapper iframe{
	border: none;
}
.article-menu .dropdown button{
	width: 100%;
}
.article-menu .dropdown ul{
	width: 100%;
	padding: 10px;
	overflow-y: scroll;
	height: 225px;
}
.article-details .art-default-img{
	overflow: hidden;
}
/** Start of Scrollbar **/
.article-menu .dropdown ul::-webkit-scrollbar {
    width: 10px;
} 
.article-menu .dropdown ul::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(178,178,178,0.5); 
}
.article-menu .dropdown ul::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}
/** End of Scrollbar **/
.article-menu .dropdown ul li{
	padding: 5px;
}
.article-menu .dropdown ul li:hover{
	color: white;
	background: #41BD8E;
	cursor: pointer;
}
.article-menu .dropdown ul li.disabled{
	font-style: italic;
	font-size: 14px;
	color: #ABABAB;
	border-bottom: 1px solid;
	background: none;
}
.article-menu .dropdown ul li.disabled:hover{
	background: #ffffff;
	color: #ABABAB;
	border-bottom: 1px solid;
	cursor: default;
}
/*** End of Article Styles***/
.art-addons{
	margin: 30px 0;
	min-height: 135px;
}
.url-setting input[name='art-url']{
	width: 310px;
	display: inline-block;
}
.url-setting input[name='art-submit']{
	vertical-align: top;
}
.art-addons .ui-state-active{
	background: none;
}
.art-addons ul{
	border-bottom-color: transparent;
}
.art-addons ul.nav-tabs li{
	background: rgb(229, 229, 229);
}
.tag-bullet{
	display: none;
}
.art-addons .ui-state-active a{
	color: #555;
	cursor: default;
	background-color: #fff;
	border-bottom-color:transparent;
	border-radius: 0;
}
.art-addons textarea[name='art-text']{
	height: 220px;
	margin-bottom:10px;
}
.art-addons .ui-state-active a:hover{
	border-bottom-color:transparent;
}
.art-addons .ui-state-active a:focus{
	background:none;
	outline: none;
}
.art-addons .addon-tab.picture{
	height: 300px;
	position: relative;
}
.art-addons .addon-tab.picture .pic-wrap{
	width: 38%;
	position: absolute;
	margin: auto;
	right: 0;
	left: 0;
	display: inline-block;
	bottom: 0;
	top: 0;
	height: 50%;
}
.art-addons .addon-tab.picture img{
	width: 125px;
}
.art-addons .addon-tab.picture .pic-img{
	margin-right:30px;
}
.art-addons .addon-tab.reference textarea{
	height: 300px;
}
.art-addons .addon-tab{
	margin-top: 20px;
}
.art-addons .addon-tab.link .link-wrap input[name='art-link']{
	width: 400px;
}
.art-addons .addon-tab.link .link-wrap input{
	margin-right:10px;
}
.art-addons .addon-tab.youtube input{
	margin: 0 10px 20px 0;
}
.art-addons .addon-tab.youtube input[type='text']{
	width: 400px;
}
.art-addons .addon-tab.youtube .vid-result textarea{
	margin-bottom: 20px;
}
.art-addons .link .extracted_content input{
	margin: 20px 0;
	width: 50%;
}
.art-addons .link .link-container .extra-texts{
	display: none;
}
.art-addons .link .link-container textarea{
	height: 90px;
	margin: 20px 0;
	width: 50%;
}
.art-addons .link .link-results{
	margin: 20px 0;
}
/**** CSS For Modals *****/
.article-view .modal-dialog{
	width: 90%;
}
.article-view .modal-dialog img{
	width: 100%;
	overflow: hidden;
}
.article-view .modal-dialog .extra-details{
	border: 1px solid #dfdfdf;
	border-radius: 10px;
	min-height: 215px;
	padding: 10px;
}
/**** END of CSS for Modals*****/

.image-search .img-search .nav img{
	width: 20px;
}
.img-srch #content .image-res{
	height: 151px;
	overflow: hidden;
	position:relative;
	margin:20px 0;
}
.img-srch #content .image-res img{
	width: 100%;
}
.img-srch #content .page-con{
	text-align: center;
}
.image-search #content.row .image-res .add-btn{
	display: none;
	width: 52px;
	vertical-align: middle;
	position: absolute;
	margin: 0px auto;
	right: 0px;
	left: 0px;
	top: 50%;
	bottom: 50%;
	height: 35px;
}
.advertisement h2{
	text-align: center;
}
.advertisement {
	padding-top:35px;
}
.foobar{
	background: #DFDFDF;
	padding: 30px;
}
.foobar .container-fluid{
	text-align: center;
}
.add-continent{
	margin-bottom: 40px;
}
.footer .logo img{
	width: 130px;
}

.foologo {
  display: flex;
  flex-direction: row;
}

.foologo > [class^="col-"],
.foologo > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center; /* Optional, to align inner items 
                              horizontally inside the column */
}

/**
 *  Do NOT include this part into your stylesheet.
 *  "flex: 1" or "flex-grow: 1" is added to make the inner div
 *  - Which is also a flex-item - take up all the horizontal space
 *  available space inside the flex container (.col-* elements)
 */
.foologo > [class^="col-"] > div,
.foologo > [class*=" col-"] > div {
  /* flex: 1; */
  flex-grow: 1;
}

.profile{
	margin: 40px 0;
	min-height: 300px;
}
.profile .prof-img-wrapper img{
	width: 100%;
}
.profile ul{
	padding: 0;
}
.profile ul li{
	list-style: none;
	padding: 10px 0;
}
.article-container .lists .art- img{
	width: 70px;
}
.preview .details, .view .details{
	list-style: none;
	padding: 0;
}
.preview .details li, .view .details li{
	padding: 5px;
}
.preview .fave-views .views, .preview .fave-views .fave, .view .fave-views .views, .view .fave-views .fave{
	margin: 10px;
}
.preview .art-desc, .view .art-desc{
	font-size: 13px;
}
.preview .fave-wrapper .views, .view .fave-wrapper .views{
	font-weight: bold;
	font-size: 20px;
}
.preview .fave-wrapper .views span, .view .fave-wrapper .views span{
	font-weight: normal;
	font-size: 14px;
}
.article-container .lists .art-enum, .favorites-container .lists .art-enum{
	margin: 10px 0;
	min-height: 70px;
}
.article-container .lists .art-enum img, .favorites-container .lists .art-enum img{
	width: 70px;
}
.article-container .detail-wrap, .favorites-container .detail-wrap{
	margin-left: 10px;
}
.article-container .detail-wrap .cat span, .favorites-container .detail-wrap .cat span{
	background: rgb(84, 158, 186);
	padding: 3px;
	color: white;
}
.article-container .detail-wrap .date, .favorites-container .detail-wrap .date{
	position: absolute;
	bottom: 0;
}
.article-container .detail-wrap .cat, .article-container .detail-wrap .title, .article-container .detail-wrap .date{
	display: block;
}
.article-container .detail-wrap .date span, .favorites-container .detail-wrap .date span{
	color: gray;
	font-size: 12px;
}
.favorites-container .tb-title{
	color: rgb(155, 155, 155);
	font-size: 12px;
}
/**** Twitter ****/
.article .tweet-wrapper .tweet .tweet-img img{
	border-radius: 5px;
}
.article .tweet-wrapper .tweet .info .screen{
	font-size: 12px;
	color: gray;
	margin: 0 0 0 10px;
}
.article .tweet-wrapper .tweet .tweet-text{
	margin: 10px 0;
	font-size: 16px;
}
.article .tweet-wrapper .tweet .date{
	font-size: 12px;
	color: rgb(176, 172, 172);
}
.twitter-search .tweet-results .tweet .tweet-img img{
	border-radius: 5px;
}
.twitter-search .tweet-results .tweet .info .screen{
	font-size: 12px;
	color: gray;
	margin: 0 0 0 10px;
}
.twitter-search .tweet-results .tweet .tweet-text{
	margin: 10px 0;
	font-size: 16px;
}
.twitter-search .tweet-results .tweet .date{
	font-size: 12px;
	color: rgb(176, 172, 172);
}
.twitter-search .tweet-results .row{
	margin: 0;
}
.twitter-search .tweet{
	border-radius: 10px;
	margin: 20px 0px;
	padding: 20px 0px;
}
.twitter-search .result-wrap{
	position: relative;
}
.twitter-search .result-wrap .tweet-add{
	position: absolute;
	right: 35px;
	top: 40%;
}

/**** EDIT PROFILE ****/
.profile .profile-image img{
	width: 100%;
}
.edit-profile{
	min-height: 30px;
}
.edit-profile:hover .edit-profile-a{
	display: block;
}
.edit-profile-a{
	display:none;
}
.edit-profile .edit-section-cont{
	padding: 20px;
	display: none;
}
.edit-profile .edit-section-cont input[type='submit']{
	margin : 0 10px;
}
.profile-edit .edit-picture form{
	position: absolute;
	bottom: 0;
	margin: 10px;
}
.profile-edit .img-up{
	position: relative;
	overflow: hidden;
	margin: 10px;
}
.profile-edit .img-up input.profile-picture{
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.profile-edit .img-up{
	display: none;
}
.profile-edit .profile-image:hover .img-up{
	display:block;
}