.art-addons .addon-wrapper{
	border: solid 1px #E5E5E5;
	margin: 0;
	padding: 10px;
}
.loading img{
	width: 140px;
}
.loading .row span{
	text-align: center;
}
.loading .row .col-md-12{
	text-align: center;
	margin: 20px 0;
}
.modal-loader{
	position: fixed;
	z-index: 10000;
	background: rgb(211, 206, 206);
	width: 100%;
	display: block;
	height: 100%;
	opacity: 0.5;
	display: none;
}
.modal-loader img{
	width: 130px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -60px;
	margin-top: -60px;
}
.editlist{
	visibility: hidden;
}
.new-addon{
	padding: 20px;
}
.new-addon textarea{
	height: 200px;
}
.new-addon input[type='button']{
	margin: 10px 10px 10px 0;
}
.addons-container ul .added-addon{
	width: 65%;
}
.addons-container ul .added-addon h2{
	margin: 0;
}
.addons-container ul li .item-inner{
	padding: 10px;
}
.addons-container ul li .item-added-container:hover{
	background: rgb(215, 215, 215);
}
.addons-container ul li .add-item-area{
	display: block;
}
.addons-container ul li .add-item-area .add-inner{
	visibility: hidden;
	padding: 10px;
}
.editlist ul{
	background: rgb(8, 182, 163);
	margin: 0;
}
.addons-container .editlist button, .editlist span.sort-item{
	background: rgb(8, 182, 163);
	border: none;
	color: white;
	height: 30px;
	vertical-align: middle;
}
.tag-hr{
	border-width: 4px;
}
.editlist span.sort-item{
	display: table-cell;
	padding: 0 10px !important;
}
.add-item-area .add-item-btn a{
	background: rgb(213, 113, 113);
	height: 29px;
	display: table-cell;
	color: white;
	vertical-align: middle;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	padding: 0 20px;
	text-decoration: none;
}
.add-item-area{
	position: relative;
}
.add-item-area .append-new-item{
	display: none;
	width: 75%;
	min-height: 150px;
	padding: 10px;
}
.add-item-area .append-new-item textarea{
	height: 100px;
	margin: 20px 0;
}
.add-item-area .append-new-item input{
	margin: 0 10px 0 0;
}
.add-item-area .add-item-btn{
	position: absolute;
	right: -88px;
	top: 16px;
}
.add-item-area .add-item-btn a:hover{
	background: rgb(182, 100, 100);
}
.add-item-area .append-add-item{
	background: #e5e5e5;
	position: relative;
	width: 100%;
}
.add-item-area .append-add-item li:hover{
	background: #F19C2D;
}
.add-item-area .append-add-item li a:hover{
	text-decoration: none;
	color: white;
}
.add-item-area .append-add-item li a{
	display: block;
	padding: 10px;
}
.addons-container .editlist button:hover, .editlist span.sort-item:hover{
	background: rgb(17, 131, 118);
}
.editlist .sort:hover{
	cursor: move;
}
.addons-container .editlist li{
	padding: 0;
	margin: 0;
}
.tag-bullet{
	display: none;
	float: left;
	margin-right: 10px;
}
.new-item .tag-heading, .append-new-item .tag-heading{
	margin : 10px 0;
	width: 60%;
}
.new-item .tag, .append-new-item .tag{
	width: 90%;
	margin: 10px 0 !important;
}
.new-item .tag-hr, .append-new-item .tag-hr{
	width: 90%;
	margin: 0 0 20px 0;
	border-color: black;
}
.new-item .colorpicker, .append-new-item .colorpicker{
	width: 90%;
	margin-bottom: 10px !important;
}
.new-item .extracted-vid{
	display: none;
}
.item-inner.tag h2.normal{
	padding-bottom: 10px;
	font-size: 30px;
}
.item-inner.tag h2.subheading{
	font-size: 20px;
}
.item-inner.tag h2.subheading span{
	font-size: 15px;
	vertical-align: text-top;
}
.new-item .extracted-vid iframe, .item-added-container iframe{
	border: none;
}
.add-item-area .extracted-vid{
	display: none;
}
.add-item-area .vid-url{
	margin-bottom: 10px !important;
}
.img-desc-con, .upload-img-con{
	display: none;
}
.upload-check{
	margin: 10px 0 !important;
}
.append-new-item .picture .url-check, .append-new-item .picture .url-cancel{
	margin: 10px 10px 10px 0;
}
/**** Twitter ****/
.addons-container .tweet-wrapper .tweet .tweet-img img{
	border-radius: 5px;
}
.addons-container .tweet-wrapper .tweet .info .screen{
	font-size: 12px;
	color: gray;
	margin: 0 0 0 10px;
}
.addons-container .tweet-wrapper .tweet .tweet-text{
	margin: 10px 0;
}
.addons-container .tweet-wrapper .tweet .date{
	font-size: 12px;
	color: rgb(176, 172, 172);
}
.twitter-search .tweet-results{
	padding: 40px 0;
}
.ref-desc{
	margin-bottom: 20px;
}
.ref-container .quote{
	margin: 10px;
	padding: 10px 5px 5px 10px;
	background: rgb(223, 223, 223);
}
.ref-container .quote p{
	font-size: 16px;
}
.ref-container .quote-img{
	color: rgb(150, 150, 150);
	font-size: 40px;
}
.ref-container .quote-url, .ref-container .quote-url a{
	font-size: 12px;
	color: rgb(165, 165, 165);
}