.tweet .tweet-info .date{
	color: #B6B6B6;
	font-size: 12px;
}
.tweet .tweet-info{
	float: left;
}
.tweet .tweet-img{
	float: left;
	margin-right: 10px;
}
.tweet{
	padding: 20px;
}
.sortable .added-addon ul.list-inline{
	margin: 0;
	list-style-type: none;
}
.sortable .added-addon ul.list-inline li{
	display: inline;
}
.sortable .added-addon ul.list-inline li button, .sortable .added-addon ul.list-inline li .sort-item{
	padding:0 20px;
	text-align: center;
}
.sortable .added-addon ul.list-inline li:hover{
	background: #F57900;
}
.sortable .add-inner{
	position: relative;
}
.sortable .add-inner .item-hr{
	overflow: hidden;
	width: 89%;
}
.sortable .add-inner .add-item-btn{
	position: absolute;
	right: 0;
	top: -5px;
}
.sortable .tag h2.normal span.inner-tag{
	font-size: 50px;
}
.sortable li ul.list-inline{
	background: gray;
	font-size: 12px;
}
.sortable li ul li, .sortable li ul li button{
	color: white;
}
.sortable li .picture .desc, .article-detail-wrap .post-detail-list li .desc{
	height: auto;
}
.sortable .editlist{
	border-bottom: 1px solid;
}
.sortable .add-inner .append-add-item a{
	color: white;
	padding: 0 10px;
}
.article-detail-wrap .post-detail-list .tag h2.normal{
	font-size: 45px;
}
.article-detail-wrap .post-detail-list .tag h2.subheading{
	font-size: 15px;
}
.article-detail-wrap .post-detail-list li {
	margin-bottom: 15px;
}
.sortable li .url-source{
	font-size: 12px;
}
.sortable li .url-source a{
	color: rgb(187, 187, 187);
}
.edit-profile .curator-info p{
	float: none;
}
.edit-profile .curator-edit{
	display: none;
	height: auto;
	margin-bottom: 8px;
	width: 72%;
	float: left;
}
.edit-profile .curator-edit h4{
	color: #545454;
	font-size: 22px;
	font-weight: normal;
	font-weight: 400;
	margin-top: 4px;
	margin-bottom: 13px;
}
.edit-profile .curator-edit p{
	float: none;
}
.editbtn{
	margin: 0 auto;
}
.editbtn input{
	border-radius: 3px;
	background: #555;
	color: #FFF;
	padding: 10px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	width: 150px;
	margin: 2px;
}
.editbtn input:hover{
	background:#ed7600;
}
.edit-profile .curator-detail-wrap .edit-image input[type='file']{
	background: #FFF;
	border: solid 1px #e6e6e6;
	border-radius: 4px;
	width: 92.5%;
	padding: 6px 2%;
	color: #747474;
	font-size: 15px;
	line-height: 24px;
}