.tweet .tweet-info .date{
	color: #B6B6B6;
	font-size: 12px;
}
.tweet .tweet-info{
	float: left;
}
.tweet .tweet-img{
	float: left;
	margin-right: 10px;
}
.tweet{
	padding: 20px;
}
.sortable .added-addon ul.list-inline{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.sortable .added-addon ul.list-inline li{
	display: inline;
	margin-right: 20px;
}
.sortable .add-inner{
	position: relative;
}
.sortable .add-inner .item-hr{
	overflow: hidden;
	width: 990px;
}
.sortable .add-inner .add-item-btn{
	position: absolute;
	right: 0;
	top: -15px;
}